@media screen and (min-width: 320px){
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background-image: url("backscreen.jpg");
    background-attachment: fixed;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  header {
    padding: 1vh 5%;
    background-color: #6495ed;
    box-shadow: 0 0 10px #696969;
  }
  header > h1 {
    padding-top: 10px;
    font-size: 24px;
    text-align: center;
    color: #faf0e6;
  }
  header > p {
    padding: 1vh 0;
    color: #faf0e6;
  }
  main {
    margin: 0 auto;
  }
  .query_list {
    padding: 1px;
  }
  .query_list_item {
    background-color: #fffaf0;
    margin: 12px 5%;
    width: 90%;
    height: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 10px #ccc;
  }
  .query_list_item > label {
    width: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  .query_list_item > p {
    margin: auto;
    margin-left: 0;
    font-size: 16px;
  }
  .btns {
    margin-top: 1vh;
    margin-bottom: 2vh;
    text-align: center;
  }
  .btns > div {
    display: inline-block;
    margin: 0 5%;
  }
  .btn {
    display: inline-block;
    width: 16vh;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .btn:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
  }
  .disp {
    background-color: #fffaf0;
    margin: 30px auto;
    padding: 20px 5%;
    width: 80%;
    line-height: 36px;
    box-shadow: 0 0 10px #ccc;
  }
  .type_explanation {
    color: #87cefa;
    text-align: center;
  }
  .type_name {
    font-size: 24px;
    font-weight: bold;
    color: #1e90ff;
    text-align: center;
  }
  #annotation {
    box-shadow: none;
    border: solid 2px #191970;
    text-align: center;
  }
  footer {
    background-color: #191970;
    height: 60px;
    line-height: 60px;
    color: #fff;
  }
  footer > p {
    text-align: center;
  }
}

@media screen and (min-width: 920px){
  header {
    height: 80px;
  }
  header > h1 > br {
    display: none;
  }
  header > p {
    text-align: center;
  }
  main {
    width: 960px;
    min-height: calc(100% - 80px);
    margin-bottom: -80px;
  }
  .query_list_item > p > br {
    display: none;
  }
  .type_explanation > br {
    display: none;
  }
  .cancel_br {
    display: none;
  }
  .push,
  footer {
    height: 80px;
  }
  footer > p {
    line-height: 80px;
  }
}
